@using damacana.Models
@model List<damacana.Models.Product>

@{
    ViewBag.Title = "Cart";
}

@foreach (Product p in Model)
{
    <h2>
        @p.Name (@p.Id)
    </h2>
    <p>
        @p.Price
    </p>




    <div class="btn-group">
        
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("SiparisVer", "Home")'">
            Ekle <span class="caret"></span>



        </button>



    </div>
    
    <hr />
}
<a href="@Url.Action("SepeteEkle")">
    Sepete Ekle
</a>